<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
      @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
<style>
         body {
            margin: 0;
            padding: 0;
            height: max-content;
            background-image: url('@Url.Content("~/Content/image/1.png")');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
</style>
</head>
<body>
    <div class="content">
        <div>
            @RenderBody()
        </div>
        @RenderSection("Scripts", required: false)
</body>
</html>
