@model doan.Models.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Nen.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
